<footer class="main-footer text-sm">
    <strong>Copyright © 2020 <a href="https://www.codethanhthuongthua.asia/">khoa</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Hotline 1:</b> 0934127601
        ||
        <b>Hotline 2:</b> 0934127601
    </div>
</footer>