<% 
	const collection = "items";
	const linkPrefix = systemConfig.prefixAdmin + `/${collection}/`;
%>

<div class="card card-info card-outline">
	<div class="card-body"></div>
	<% include ./../../elements/errors %>
		<form action="<%= linkPrefix %>upload/" method="POST" class="mb-0" enctype="multipart/form-data"> 
			<div><label for="avatar">Choose a profile picture:</label></div>
			<div class="card-body">
				<input type="file" id="avatar" name="avatar">
				<button type="submit" class="btn btn-sm btn-success mr-1">Submit</button>
				<a href="<%= linkPrefix %>" class="btn btn-sm btn-danger mr-1"> Cancel</a>
			</div>
		</form>
	</div>	
</div>


