<!-- <%= JSON.stringify(item) %>  -->

<div class="card card-info card-outline">
	<div class="card-body">FORM</div>
	<form action="<%= linkPrefix %>upload/" method="POST" class="mb-0" enctype="multipart/form-data" >
		<div class="card-body">
			<div id="id_content" class="form-group row">
				<label>file</label>
				<input name="my-file" value="" type="file" >
			</div>
		</div>
		<div class="card-footer">
			<button type="submit" class="btn btn-sm btn-success mr-1"> Submit</button>
		</div>
	</form>
</div>






